.nav-link{
   padding-left  : 16px ;
   padding-right:16px ;
   font-size : 1.3rem ;
   font-family: 'EB Garamond', serif;
}


.navbar-brand{
    padding-left: 2rem;
}



.navbar-brand{
    cursor: pointer;
}

h4{
    font-family: 'Fredoka One', cursive; 
}



.second-items{
    padding-left :7% ;
    min-height: 10rem;
    max-height: auto;
    background-color: white;
}

.heading{
    background-color: #ff4c68;
    padding : 1% 15% ;
}



.imag-fir{
    width : 50%; 
    transform:  rotate(25deg);
}

hr{
    border: 0;
    border-top: 1px solid #d4d5d9;
    margin-left :80px ;
    margin-right:90px;
 }
 nav{
     position: fixed;
 }

.topic{
    background-color: transparent;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left : 80px;
    font-family: 'EB Garamond', serif;

  }

 

h2{
    color : white ;
    line-height: 2;
    font-size: 5rem;
    font-family:"Montserrat" ;
    padding : 10% 13% ;
}

.chg-clr:hover {
    cursor:pointer;
    color : orange ;

}

.col {
   padding:  5px ;
   margin-left: 0.5rem;
   box-sizing: border-box;
   height : 30%;
   margin-bottom: 2rem;
  
}

.enable:hover{
    border : 1px solid #d6bfbf ;
    cursor:pointer;
    color : #23283f ;
}

.disabledclass{
    margin-top : 4rem;

}



.imgitems{
    width : 95% ; 
    min-height: 20%;
    max-height:  30%;
    margin : 10px 2px 5px 5px ; 
}

.foodimg{
    width:20% ;
    height: 90%;
    margin : 5px 2px 5px 5px ; 
    border-radius: 5px;
    position:relative;
}

.fooditem{
    margin : 30px ;
    text-align: left;
    position: relative ;
    bottom:200px;
    left: 300px;
    line-height: 1;
    color:white;
}

.foodhead{
    font-family: 'Open Sans', sans-serif;
    
    line-height:  1;
}

.fooddes{
    line-height:  2;
}

.foodrating{
    line-height:  2;
    padding-top: 5px; 
}


.hot-name{
    line-height:  2;
}

.atag{
    text-decoration: none;
    color : black ;
}



.hot-rating {
    margin-right:10px;
    padding:2px 10px;
    background-color: #ff4c68;
    color : black ;
}

.vis{
    display: inline-block ;
    width : 100%;
    height : 250px;
    background-color:#23283f ;
    padding : 35px ;
    padding-left: 35px; 
    position: absolute;
    
    }

  .food{
     position: relative;
     top : 40% ;
  }

