.nav-link{
   padding-left  : 16px ;
   font-size : 1.3rem ;
   font-family: 'EB Garamond', serif;
}


.navbar-brand{
    padding-left: 2rem;
}



.navbar-brand{
    cursor: pointer;
}

h4{
    font-family: 'Fredoka One', cursive; 
}





.second-items{
    padding-left :7% ;
    background-color: white;
}

.heading{
    background-color: #ff4c68;
    padding : 1% 15% ;
}



.imag-fir{
    width : 50%; 
    transform:  rotate(25deg);
}

.foodcontainer{
  margin : 3rem;
  padding : 1.4rem  auto 0.5rem 2.0rem;
  padding-top:1.4rem ;
  width : 700px;
  border-bottom: 2px solid #d4d5d9;
}

.foodcontainer-image{
    width : 95% ;
    height : 90% ;
    padding-top: 0.5rem;
    
}

.foodcontainer-rating{
    background-color: #ff4c68;
    display: inline-block;
    padding : 0.6rem;
    border-radius: 5px;
}

.foodcontainer-name{
   padding-bottom:0.6rem; 
}

.foodcontainer-price{
    display: inline;
}

hr{
    border: 0;
    border-top: 1px solid #d4d5d9;
    margin-left :80px ;
    margin-right:90px;
 }
 nav{
     position: fixed;
 }

 .btn-incre{ 
    display: inline-block;
    
 }
 .btn-add{
    display: inline-block;
    position: relative;
    left : -1rem;
    visibility: hidden;

 }
 .btn-icre-decre{
    display: inline-block;
    
}

.btn-sub{
    display: inline-block;
    position: relative;
    left : 1rem;
    margin-left : 1rem;
   
    visibility: hidden;
}
.btn {
    margin-top : -0.5rem;
}

.btn-outline-primary{
    margin-top : 0.0rem ; 
}

.topic{
    background-color: transparent;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-left : 80px;
    font-family: 'EB Garamond', serif;

  }

h2{
    color : white ;
    line-height: 2;
    font-size: 5rem;
    font-family:"Montserrat" ;
    padding : 10% 13% ;
}

.chg-clr:hover {
    cursor:pointer;
    color : orange ;

}

.cart:hover{
    color : orange;
 }






.imgitems{
    width : 95% ; 
    min-height: 20%;
    max-height:  30%;
    margin : 5px 2px 5px 5px ; 
}

.foodimg{
    width: 70% ;
    height: 90%;
    border-radius: 5px;
    margin : 30px 0px 2px 60px;
}

.fooditem{
    margin : 38px 0px auto 0px ;
    text-align: left;
    position: relative ;
    line-height: 1;
    color:black;
}


.foodhead{
    /* font-family: 'Dela Gothic One', cursive; */
    font-family:"Montserrat" ;
    line-height:  1;
    font-size: 1.6rem;
}

.fooddes{
    line-height:  2;
    font-size: 1.4rem;
}

.foodrating{
    line-height:  2;
    padding-top: 5px; 
    font-size: 1.4rem;
}

.foodloc{
    font-size: 1.2rem;
}


.hot-name{
    line-height:  2;
}

.atag{
    text-decoration: none;
    color : black ;
}



.hot-rating {
    margin-right:10px;
    padding:2px 10px;
    background-color: #ff4c68;
    color : black ;
}

.vis{
   
    height: 250px;
    }

 .container-fluiod{
    position: relative;
    bottom : 137px;
 }

 

